{% extends 'baselayout.html' %}
{% block title 'Filter' %}

{% block body %}
	<div class="content">
		<h1>Filter</h1>
		<p>Filter nodes</p>
		
		{{ form_start(form) }}
			{# render the fields #}
			{{ form_row(form.type) }}
			{{ form_row(form.property) }}
			{{ form_row(form.value) }}

		{{ form_end(form) }}
	</div>
{% endblock %}
{% block script %}
	<script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="scripts/updateFilterProperty.js" type="text/javascript"></script>
{% endblock %}