{% extends 'baselayout.html' %}
{% block title 'Filter' %}

{% block content %}
		<h1>Filter</h1>
		<div>
			<h3>Filter options</h3>
		
			{{ form_start(form) }}
				{# render the fields #}
				{{ form_row(form.type) }}
				{{ form_row(form.property) }}
				{{ form_row(form.value) }}

			{{ form_end(form) }}
		</div>
	
		<div>
		  <h3>Result</h3>
		  <ul class="nodes">
		  {% if nodes %}
			  {% for node in nodes %}
				<li>
				  <h4>{{node.getName|e}} </h4>
				  <p>DESCRIPTION: {{node.getDescription|e}}<p>
				  <a href="{{path('node', {id:node.getId})}}")>More info</a>
				  <a href="{{path('update',{id: node.getId})}}">Update</a>
				  <br><br>
				</li>
			  {% endfor %}
		  {% else %}
			<li>Nothing found...</li>
		  {% endif %}
		  </ul>
		</div>
{% endblock %}
{% block script %}
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="scripts/updateFilterProperty.js" type="text/javascript"></script>
{% endblock %}
