{% extends 'baselayout.html' %}
{% block title 'Map overview' %}

{% block content %}
		<h1>Map view</h1>

		<div id="map" style="width:60%; height:399px;"></div>
		<div id="nodeInfo" style="width:30%; height:399px; display:inline-block"></div>
		<p>All nodes with geographical information</p>

		<ul class="nodes">
			{% for node in nodes %}
				{% include '_node.html' with {'node': node} only %}
			{% endfor %}
		</ul>
{% endblock %}

{% block script %}
	{# load the OpenLayers library via cdn #}
	<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/theme/default/style.css" type="text/css">
	<script src="{{app.request.basepath}}/scripts/createMap.js"></script>-->
	<!--Uncomment to use OL3-->
	<link rel="stylesheet" href="http://openlayers.org/en/v3.8.2/css/ol.css" type="text/css">
	<script src="http://openlayers.org/en/v3.8.2/build/ol.js" type="text/javascript"></script>
	<script src="{{ app.request.basepath }}/scripts/createMap3.js"> </script>

	<script type="text/javascript">
		(function(){
			createMap('map');
		})();
	</script>
{% endblock %}