{% extends 'baselayout.html' %}
{% block title 'Node info' %}

{% block body %}
<div class="content">
	<h1>Info on {{node.name}}</h1>
	<h4>{{node.name}}</h4>
	<ul class="nodes">
		<li>{{node.description}}</li>
	</ul>
	
	<h3>Properties and relations on {{node.name}}</h3>
	<ul class="nodes">
		{% for relation in relFrom %}
		<li>{{relation.pname}} 
			{% if relation.ptype == 'node' %}
				<a href="{{ path('node', {id:relation.svalue}) }}">{{relation.nstart}}</a>
			{% else %}
				{{relation.svalue}}
			{% endif %}
			</li>	
		{% endfor %}
	</ul>
	
	<h3>Relations to {{node.name}}</h3>
	<ul class="nodes">
		{% for relation in relTo %}
			<li><a href="{{ path('node', {id:relation.sstart}) }}">{{relation.nstart}}</a>
			{{relation.pname}} {{node.name}}
			</li>
		{% endfor %}
	</ul>
	<a href="{{path('history', {id:node.id})}}"> Show history </a> <br>
	<a href="{{ path('home') }}">Back to overview</a>
</div>
{% endblock %}