{% extends 'baselayout.twig' %}
{% block title 'Nodes' %}

{% block content %}
    <h1><br/><br/><br/>

        Knopen met waarde '{{value|lower}}'</h1>
    <p>Alle knopen met waarde '{{value|lower}}' in de database</p>
    <ul class="nodes">
        {% for node in nodes %}
        <li>
            {{ render(node) }}
            {# include 'node.twig' with {'node': node} only #}
        </li>
        {% endfor %}
    </ul>
    <a href="{{ path('insert') }}">Voeg nieuwe informatie toe</a>
    {% endblock %}
