{% extends 'baselayout.twig' %}
{% block title 'Nodes' %}

{% block content %}
    <h1>Nodes with value {{value|lower}}</h1>
    <p>All nodes with value {{value|lower}} in the wiki</p>
    <ul class="nodes">
        {% for node in nodes %}
        <li>
            {{ render(node, {link:false}) }}
            {# include 'node.twig' with {'node': node} only #}
        </li>
        {% endfor %}
    </ul>
    <a href="{{ path('insert') }}">Insert new info</a>
    {% endblock %}
