
/*   */
body {
    background-color: white;
}



/*
ul.nodes {
}
*/

/*.nodes li {
        list-style-type: none;
}
*/

/* Middenbox */
.content {
	/*padding: 40px 15px; */
    /*width: 100%;*/
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
/*   Hoofdbox */
.content > h1 {
    height: 298px;
    background-image: url('../images/Header.png');
    background-size: 1100px 298px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    color: black;
    box-sizing: border-box;
	padding: 17px;
}

#nodesGraph {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.minigraph {
    height: 45vh;
}



.map {
    margin-top: 100px;
    width: 40%;
    height:85vh;
    padding:0;
    float: left;
    position: relative;
    border: white;
    border-width: 2px;
    border-style: solid;


}

.info {
    width: 20%;
    height: 85vh;
    padding: 5px 5px 5px 5px;
    position: relative;
    float: left;
    overflow: auto;
    border: grey;
    border-width: 2px;
    border-style: solid;
    background-color: grey;
    margin-top: 100px;

}


.form_control{
    color: grey;


}

.colored circle {
    fill:red;
}

